# Environment
.env

# Dependencies
node_modules/

# Build artifacts
/artifacts
/typechain-types

# Cache
/cache

# Ignition
ignition/configs/43113-fuji.json
/ignition/deployments

# Backend
/backend/*
!/backend/CollectionExemple/